<!-- Lteif -->
<!--<connectionStrings>
 <add name="DefaultConnection" connectionString="Data Source=SHIFT2;Initial Catalog=lteif;Persist Security Info=True;User ID=sa;Password=password" providerName="System.Data.SqlClient" />
</connectionStrings>-->
<!-- Lteif -->

<!-- L'Organica -->
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=SHIFT2;Initial Catalog=dolcefarfalla;Persist Security Info=True;User ID=sa;Password=password"
    providerName="System.Data.SqlClient" />
</connectionStrings>
<!-- L'Organica -->