<?xml version="1.0"?>

<PaymentConfig>

  <!--[START] Test Payment Credentials -->

 <!--<add key="mpgs_WebhookNotificationSecret" value="9533C782B5EB72A7DBCD2AD8A63646BC" />-->
 <!--<add key="mpgs_WebhookNotification_DummyBasketId" value="45"/>-->
 <!--<add key="mpgs_CheckoutJSURL" value="https://test-bobsal.gateway.mastercard.com/checkout/version/45/checkout.js" />-->
 <!--<add key="mpgs_PaymentServerURL" value="https://test-bobsal.gateway.mastercard.com/api/nvp/version/45" />-->
 <!--<add key="mpgs_PaymentCheckoutSessionOperation" value="CREATE_CHECKOUT_SESSION" />-->
 <!--<add key="mpgs_PaymentRetrieveSessionOperation" value="RETRIEVE_SESSION" />-->
 <!--<add key="mpgs_PaymentCheckoutTokenFromOperation" value="TOKENIZE" />-->
 <!--<add key="mpgs_PaymentPayOperation" value="PAY" />-->
 <!--<add key="mpgs_PaymentPassword" value="e4ac9b9f9046949ad89f5ae1b3122867" />-->
 <!--<add key="mpgs_PaymentUsername" value="merchant.CARPET" />-->
 <!--<add key="mpgs_PaymentMerchant" value="CARPET" />-->
 <!--<add key="mpgs_PaymentCurrency" value="USD" />-->
  <!--[END] Test Payment Credentials -->
</PaymentConfig>