<?xml version="1.0"?>
<ProjectKeysConfig>
	<!--<add key="ProjectName" value="Lteif" />-->
	<!--<add key="ProjectName" value="L'Organica" />-->
	<!--<add key="ProjectName" value="Carpet Plus" />-->
	<!--<add key="ProjectName" value="Dolce Farfalla" />-->
	<!--<add key="ProjectName" value="Wesley's" />-->
	<!--<add key="ProjectName" value="Douaihy" />-->

	<add key="CarpetPlus-integration" value="false" />
	<add key="CarpetPlus-integration-api" value="http://185.124.212.252/DaisyService/Orders.svc/" />

	<add key="lteif-integration-api" value="http://212.98.156.115:8182" />
	<add key="lteif-integration-is-enabled" value="false" />

  <!--<add key="depechemode-integration-api" value="http://80.77.188.253:8088" />-->
  <add key="depechemode-integration-api" value="http://91.245.250.243:8088" />
  <add key="depechemode-integration-is-enabled" value="true" />

	<!-- START Urls -->
	<!--<add key="BaseUrl" value="https://localhost:44365//" />-->

	<!-- Wesleys -->
	<!--<add key="BaseUrl" value="https://shift2.koeinbeta.com/Wesleysapi/" />
  <add key="BackUrl" value="https://shift2s.koein.com/Wesleyskms/#!/" />
  <add key="FrontUrl" value="https://shift2s.koein.com/Wesleysfront/#!/" />
  <add key="FrontUrlOrderDEtails" value="https://shift2s.koein.com/Wesleysfront/#!/orderpreview/" />-->
	<!-- Wesleys -->

	<!-- Carpet Plus -->
	<!--<add key="BaseUrl" value="https://shift2.koeinbeta.com/carpetplusapi/" />
  <add key="BackUrl" value="https://shift2s.koein.com/carpetpluskms/#!/" />
  <add key="FrontUrl" value="https://shift2s.koein.com/carpetplusfront/#!/home" />
  <add key="FrontUrlOrderDEtails" value="https://shift2s.koein.com/carpetplusfront/#!/orderpreview/" />-->
	<!-- Carpet Plus -->

	<!-- Lteif -->
	<!--<add key="BaseUrl" value="https://shift2.koeinbeta.com/lteifapi/" />
  <add key="FrontUrl" value="https://shift2s.koein.com/lteiffront/#!/home" />
  <add key="FrontUrlOrderDEtails" value="https://shift2s.koein.com/lteiffront/#!/orderDetails/" />-->
	<!-- Lteif -->

	<!-- L'Organica -->
	<!--<add key="BaseUrl" value="https://shift2.koein.com/lorganicaapi/" />
  <add key="FrontUrl" value="https://shift2s.koein.com/lorganica/#!/home" />
  <add key="FrontUrlOrderDetails" value="https://shift2s.koein.com/lorganica/#!/orderDetails/" />-->
	<!-- L'Organica -->

	<!-- Dolce Farfalla -->
	<!--<add key="BaseUrl" value="https://shift2.koeinbeta.com/dolcefarfallaapi/" />
  <add key="BackUrl" value="https://shift2s.koein.com/dolcefarfallakms/#!/" />
  <add key="FrontUrl" value="https://shift2s.koein.com/dolcefarfallafront/#!/home" />
  <add key="FrontUrlOrderDEtails" value="https://shift2s.koein.com/dolcefarfallafront/#!/orderpreview/" />-->
	<!-- Dolce Farfalla -->

	<!-- Douaihy -->
	<!--<add key="BaseUrl" value="https://shift2.koeinbeta.com/DouaihyApi/" />
  <add key="BackUrl" value="https://shift2s.koein.com/DouaihyKms/#!/" />
  <add key="FrontUrl" value="https://shift2s.koein.com/Douaihy/#!/home" />
  <add key="FrontUrlOrderDEtails" value="https://shift2s.koein.com/Douaihy/#!/orderpreview/" />-->
	<!-- Douaihy -->

	<!-- Depeche Mode -->
	<!--<add key="BaseUrl" value="https://shift2.koeinbeta.com/depechemodeapi/" />-->
	<!--<add key="BackUrl" value="https://shift2s.koein.com/depechemodekms/#!/" />-->
	<!--<add key="FrontUrl" value="https://shift2s.koein.com/depechemodefront/#!/home" />-->
	<!--<add key="FrontUrlOrderDEtails" value="https://shift2s.koein.com/depechemodefront/#!/orderDetails/" />-->
	<!-- Douaihy -->


	<!--<add key="EKomProductRatingLimit" value="5" />-->
	<!--<add key="default-product-image" value="defaultProduct.jpg" />-->
	<!--<add key="default-giftCard-image" value="defaultGiftCard.png" />-->
</ProjectKeysConfig>