<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="PaymentConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ProjectKeysConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mikano_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=mikanodb;Integrated Security=True;Connect Timeout=10000" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=178.162.153.150;Initial Catalog=mikanoDb;Persist Security Info=True;User ID=mikanoUser;Password=jJ7fR9qS1p;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings configSource="App_Keys\Connections.config" />-->
  <appSettings>
    <!--Project Info-->
    <!--<add key="TimZomeDif" value="0" />-->
    <!--<add key="EnableTrackingErrors" value="true" />-->
    <!--<add key="PushNotificationAppId" value="14" />-->
    <!--<add key="RequestOriginHeaderKey" value="user-origin" />-->
    <!--<add key="validation-by-sms-is-enabled" value="false" />-->
    <!--Shipping-->
    <!--<add key="ShippingCompany_AramexId" value="3" />-->
    <!--<add key="DefaultCountryId" value="118" />-->
    <!--Unused-->
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2000"/>
    <!--Keep them here-->
    <add key="PasswordHash" value="099153ghjk51495dgd6jb3e85e03562"/>
    <add key="AudienceId" value="099153c2625149bc8ecb3e85e03f0022"/>
    <add key="AudienceSecret" value="IxrAjDoa2FqElO7IhrSrUJELhUckePEPVpaePlS_Xaw"/>
    <!--Display In-->
    <!--<add key="giftcard-type-id" value="1" />-->
    <!--<add key="giftwrap-type-id" value="7" />-->
    <!--<add key="show-in-menu-type-id" value="2" />-->
    <!--<add key="loyalty-program-type-id" value="3" />-->
    <!--<add key="sale-type-id" value="4" />-->
    <!--<add key="best-seller-type-id" value="5" />-->
    <!--Unused-->
    <!--<add key="featured-type-id" value="6" />-->
    <!--<add key="new-type-id" value="8" />-->
    <!--<add key="minimum-gift-card-amount" value="50" />-->
    <!--Unused-->
    <!--<add key="special-offer-type-id" value="9" />-->
    <!--Keep them here-->
    <add key="about-corporate-id" value="26"/>
    <add key="contact-corporate-id" value="30"/>
    <add key="requirements-pdf" value="34"/>
    <add key="application-form-pdf" value="35"/>
    <add key="RepairsCorporatePage" value="37"/>
    <add key="AboutUsCorporatePage" value="26"/>
    <add key="ProjectCorporatePage" value="30"/>
    <add key="ContactUsCorporatePage" value="38"/>
    <add key="TermsAndConditionsCorporatePage" value="39"/>
    <!--Emails Templates-->
    <!--<add key="email-welcome-id" value="1" />-->
    <!--<add key="email-resetpassword-id" value="3" />-->
    <!--<add key="email-invoice-id" value="4" />-->
    <!--Unused-->
    <!--<add key="email-receipt-id" value="2" />-->
    <!--Unused-->
    <!--<add key="email-orderstatus-id" value="5" />-->
    <!--<add key="email-product-review-admin-id" value="6" />-->
    <!--<add key="email-tp-post-order-failure-id" value="7" />-->
    <!--<add key="email-tp-post-user-failure-id" value="8" />-->
    <!--End Emails Templates-->
    <!--Keep them here-->
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="6"/>
    <add key="UserLockoutEnabledByDefault" value="false"/>
    <add key="DefaultAccountLockoutTimeSpan" value="15"/>
    <!--Keep them here-->
    <add key="IsRemoteUpload" value="False"/>
    <add key="MediaFolder" value="Content/uploads/"/>
    <add key="ResizedImagesBaseFolder" value="Images/"/>
    <add key="AllowedExtensions" value="gif;jpeg;jpg;png;doc;docx;pdf;csv;xls;xlsx;mp3;mp4;mov;zip"/>
    <add key="MaxFileSize" value="80000000000000"/>
    <add key="DevteamRole" value="Devteam"/>
    <add key="ManagementRole" value="ManagementRole"/>
    <add key="EndUserRole" value="EndUserRole"/>
    <!--Move there-->
    <!--<add key="AccountActivationSubject" value=" - Account Activation" />-->
    <!--Unused-->
    <!--<add key="ForgotPasswordSubject" value=" - Forgot Password" />-->
    <!--Unused-->
    <!--<add key="RegisterUserSubject" value=" - Welcome" />-->
    <!--Unused-->
    <!--<add key="ResetPasswordSubject" value=" - Reset Password" />-->
    <!--Unused-->
    <!--<add key="ReceiptSubject" value=" - Receipt" />-->
    <!--Unused-->
    <!--<add key="GiftSubject" value=" - Gift" />-->
    <!--Unused-->
    <add key="ContactSubject" value=" - Contact Us"/>
    <!--Move there-->
    <!--<add key="ReceiptBccEmail" value=" " />-->
    <!--Unused-->
    <!--<add key="EmailFrom" value="noreply@koein.com" />-->
    <!--Unused-->
    <!--Move there-->
    <!--<add key="smtpUsername" value="AKIAJSDJEDSFZSAVDYRQ" />-->
    <!--<add key="smtpPassword" value="AhaZbRrsLwAffsbicmet/2eYWNzUys8nRU8n/hZtGMXz" />-->
    <!--<add key="smtpHostname" value="email-smtp.eu-west-1.amazonaws.com" />-->
    <!--<add key="smtpPort" value="25" />-->
    <!--<add key="smtpSSL" value="true" />-->
    <!--Move there-->
    <!--<add key="SendSMSURL" value="http://api.ebeirut.net/api/sendsms/plain" />-->
    <!--<add key="SendSMSUsername" value="zaatarwzeit" />-->
    <!--<add key="SendSMSPassword" value="aYDTxyXE" />-->
  </appSettings>
  <ProjectKeysConfig configSource="App_Keys\ProjectKeys.config"/>
  <!--<PaymentConfig configSource="App_Keys\Payment.config" />-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="500000"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="262144000"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <Mikano_API.Properties.Settings>
      <setting name="ZaatarWZeitApi_com_koein_pushnotification_Service" serializeAs="String">
        <value>http://push.koeinbeta.com/service.asmx</value>
      </setting>
    </Mikano_API.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MessengerSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="MessengerSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="MessengerSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://mm.powermemobile.com/mm/soap/Messenger.asmx" binding="basicHttpBinding" bindingConfiguration="MessengerSoap" contract="EtisalatMEssagingReference.MessengerSoap" name="MessengerSoap"/>
      <endpoint address="https://mm.powermemobile.com/mm/soap/Messenger.asmx" binding="customBinding" bindingConfiguration="MessengerSoap12" contract="EtisalatMEssagingReference.MessengerSoap" name="MessengerSoap12"/>
    </client>
  </system.serviceModel>
</configuration>